body {
    margin: 0;
    padding: 0;
}

#gamebody {
    width: 100vw;
    height: 80vh;
    padding: 0;
    margin: 0;
    display: block;
}

#gamebody table {
    width: 70vw;
    height: 70vh;
    display: inline-block;
    vertical-align: top;
    border-spacing: .5vw;
}

#gamebody td {
    width: 5vw;
    padding: .5vw;
}

#brickField {
    display: inline-block;
}

.overboard {
    margin-left: 5vw;
    outline: 2px solid black;
    width: 5vw;
    height: 5vh;
}

.onboards {
    margin-left: 5vw;
    border: 1px solid black;
    height: 5vh;
    border-radius: 50%;
    background-color: aliceblue;
    transition: all .4s;
}

.player1s {
    background-color: lightgreen;
    transition: all .4s;
}

.player2s {
    background-color: blue;
    transition: all .4s;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0.25; }
    100% { opacity:1; }
}

@-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0.25; }
    100% { opacity:1; }
}
    
@-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0.25; }
    100% { opacity:1; }
}

@-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0.25; }
    100% { opacity:1; }
}

.blink {
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;

    -webkit-animation: flickerAnimation 1s infinite;
    -moz-animation: flickerAnimation 1s infinite;
    -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}

#chatCon {
    display: inline-block;
    vertical-align: top;
    height: 70vh;
    width: 29vw;
    margin: 0;
    margin-left: .5vw;
}

#chats {
    height: 60.5vh;
    border: 2px solid black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow-y: scroll;
}

#chatInp {
    height: calc(10vh - 8px);
    margin: 0;
    padding: 0;
    padding-left: 2%;
    font-size: 1.5vh;
    width: 19.6vw;
    vertical-align: top;
    resize: none;
    font-family: 'Montserrat', sans-serif;
}

#sendBut {
    margin:0;
    padding: 0;
    margin-left: .5vw;
    width: 8.1vw;
    height: calc(10vh - 6px);
    vertical-align: top;
}

h1, #spil{
    font-family: 'Montserrat', sans-serif;
}

#scoreboard {
    text-align: center;
    margin-bottom: 0;
}

#player1score {
    display: inline-block;
    color: green;
    font-family: 'Montserrat', sans-serif;
    margin-top: 11vh;
    font-size: x-large;
    margin-bottom: 0;
}

#player2score {
    display: inline-block;
    margin-left: 30%;
    color: blue;
    font-family: 'Montserrat', sans-serif;
    margin-top: 11vh;
    font-size: x-large;
    margin-bottom: 0;
}

#quit {
    width: 20vw;
    height: 5vh;
    margin-bottom: .5vh;
    border-radius: .5vh;
    border: 1px solid rgb(99, 168, 228);
    font-family: 'Montserrat', sans-serif;
    transition: all .5s;
    transition-timing-function: ease-in-out;
    background-color: rgb(106, 92, 228);
    color: white;
}

#quit:hover {
    background-color: rgb(149, 206, 255);
    border: rgb(106, 92, 228);
    cursor: pointer;
    color: black;
}

#restart {
    width: 33vw;
    height: 10vh;
    left: 33vw;
    z-index: 100;
    top: 40vh;
    border-radius: 4px;
    background-color: white;
    border: 4px solid rgb(255, 0, 0);
    font-size: xxx-large;
    font-family: 'Montserrat', sans-serif;
    transition-duration: 0.4s;
    position: absolute;
}

#restart:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(255, 0, 0);
    border: 4px solid white;
    color: white;
}

.rowcounter {
    text-align: center;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
}

#header {
    position: absolute;
    margin-top: 0;
    background-color: aliceblue;
    height: 10vh;
    width: 100%;
    text-align: center;
    align-content: center;
}


#createRoom {
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#openRooms {
    position: absolute;
    margin-top: 45vh;
    height: 50%;
    width: 100%;
    background-color: aliceblue;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#roomOptions{
    position: absolute;
    margin-top: 10vh;
    height: 90vh;
    width: 100vw;
}

#roomOptions input, #passIncon input {
    border: 2px solid rgb(84, 170, 250);
    border-radius: 4px;
    font-size: large;
}

#roomOptions button {
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    margin-top: .5vh;
    border: 2px solid rgb(47, 47, 255);
    border-radius: 2px;
    background-color: rgb(123, 123, 255);
    color: white;
    transition: all .4s;
}

#roomOptions input[type=radio] {
    margin-top: 1vh;
}

#roomOptions input[type=radio]:hover{
    cursor: pointer;
}

#password {
    margin-top: .2vh;
    margin-bottom: .2vh;
    display: none;
}

#roomOptions button:hover {
    cursor: pointer;
    background-color: white;
    border: 2px solid rgb(47, 47, 255);
    color:rgb(123, 123, 255);
    box-shadow: 4px 4px 3px #888888;
}

#openHeaderContainer {
    position: absolute;
    height: 33%;
    width: 100%;
}

#actualOpenRooms {
    vertical-align: top;
    position: absolute;
    top: 40%;
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
}

.openRoom {
    position: relative;
    vertical-align: top;
    display: inline-block;
    border: 2px solid rgb(43, 43, 43);
    border-radius: 4px;
    margin-left: .5%;
    margin-right: .5%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(108, 156, 201);
    width: calc((100%)/ 8);
    margin-top: .5%;
    overflow-x: scroll;
    padding-bottom: .3%;
    height: 10vh;
}

.openRoom button {
    height: 3vh;
}

.openRoom h4 {
    margin-top: 0.5%;
    margin-bottom: .5%;
    width: 80%;
    font-size: 2vh;
    overflow: scroll;
    display: block;
}

.openRoom h4::-webkit-scrollbar {
    display: none;
}

.openRoom input {
    margin-top: 3%;
    width: 80%;
    height: 2.5vh;
}

.passLock {
    position: absolute;
    height: 2vh;
    width: auto;
    right: 2%;
    top: 2%;
}

.joinButton {
    height: 50%;
    font-size: small !important;
}

.chatMsgContainer {
    margin: 0;
    width: 100%;
    height: auto;
    padding-bottom: .5vh;
    font-family: 'Montserrat', sans-serif;
}

.chatMsgContainer p {
    margin:0;
    margin-left: .5vw;
}

.p1chat {
    background-color: lightgreen;
}

.p2chat {
    background-color: blue;
    color: white;
}

#errorDiv {
    position: absolute;
    top: 2vh;
    left: 10vw;
    height: 12vh;
    width: 80vw;
    text-align: center;
    background-color: red;
    border: 2px solid black;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
}

#errorMessage {
    margin:0;
    padding:0;
    vertical-align: middle;
    font-size: 5vh;
    line-height: 5vh;
    margin-top: 3.5vh;
}

